@model EntityLayer.Dtos.ProductDto
@{
    ViewData["Title"] = "GetProductDto";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>GetProductDto</h1>
<form method="post" asp-action="UpdateProduct">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label asp-for="OldPrice"></label>
        <input asp-for="OldPrice" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPrice"></label>
        <input asp-for="NewPrice" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PictureUrl"></label>
        <input asp-for="PictureUrl" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Update Product</button>
    </div>
</form>


