@model EntityLayer.Dtos.ProductDto
@{
	ViewData["Title"] = "NewProduct";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="margin-top:10px">Yeni məhsul</h1>
<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label>Məhsulun adı</label>
		<input asp-for="Name" type="text" class="form-control" required oninvalid="setCustomValidity('Ad sahəsi tələb olunur')"
	  oninput="setCustomValidity('')" />
	</div>
	<div asp-validation-summary=All class="text-danger"></div>

	<div class="form-group">
		<label>Məhsulun kateqoriyası</label>
		<select asp-for="CategoryId" asp-items="@ViewBag.categories" class="form-control"
				required oninvalid="setCustomValidity('Kateqoriya sahəsi tələb olunur')" oninput="setCustomValidity('')">
			<option selected disabled value="">Kateqoriyanı seçin</option>
		</select>
	</div>
	<div class="form-group">
		<label>Məhsulun köhnə qiyməti</label>
		<input asp-for="OldPrice" type="text" class="form-control" value="0"/>
	</div>
	<div class="form-group">
		<label>Məhsulun yeni qiyməti</label>
		<input asp-for="NewPrice" type="text" class="form-control" required
	  oninvalid="setCustomValidity('Yeni qiymət sahəsi tələb olunur')" oninput="setCustomValidity('')" />
	</div>
	<div class="form-group">
		<label>Məhsul haqqında əlavə məlumat</label>
		<input asp-for="Description" type="text" class="form-control" />
	</div>
	<div class="form-group">
		<label>Şəkil 1</label>
		<input asp-for="Picture" type="file" class="form-control" required
	  oninvalid="setCustomValidity('Şəkil 1 sahəsi tələb olunur')" oninput="setCustomValidity('')" />
	</div>
	<div class="form-group">
		<label>Şəkil 2</label>
		<input asp-for="Picture1" type="file" class="form-control" required
	  oninvalid="setCustomValidity('Şəkil 2 sahəsi tələb olunur')" oninput="setCustomValidity('')" />
	</div>
	<div class="form-group">
		<label>Şəkil 3</label>
		<input asp-for="Picture2" type="file" class="form-control" required
	  oninvalid="setCustomValidity('Şəkil 3 sahəsi tələb olunur')" oninput="setCustomValidity('')" />
	</div>
	<div class="form-group">
		<button class="btn btn-primary">Əlavə et</button>
	</div>
</form>
