@using EntityLayer.Entities
@model List<Testimonial>
@{
	Layout = null;
}
<div class="testimonial-area pb-100">
	<div class="container">
		<div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
			<h2>Testimonial</h2>
		</div>
		<div class="testimonial-active swiper-container">
			<div class="swiper-wrapper">
				@foreach (var item in Model)
				{
					<div class="swiper-slide">
						<div class="single-testimonial" data-aos="fade-up" data-aos-delay="200">
							<div class="testimonial-img">
								<img src="/assets/images/testimonial/user-profile.jpg" style="height:80px; width:80px" alt="">
							</div>
							<p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore.</p>
							<div class="testimonial-info">
								<h4>@item.Name</h4>
								<span> @item.Title</span>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>