@model EntityLayer.Entities.About
@{
    ViewData["Title"] = "NewAbout";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="margin-top:10px">New About</h1>
<form method="post">
    <label asp-for="Description"></label>
    <input asp-for="Description" type="text" class="form-control" />
    <div class="form-group" style="margin-top:10px">
        <button class="btn btn-success">Add</button>
    </div>
</form>

