@model EntityLayer.Entities.Testimonial
@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1 style="margin-top:10px">New Testimonial</h1>
<form method="post">
	<div class="form-group" style="margin-top:10px">
		<label asp-for="Name"></label>
		<input asp-for="Name" type="text" class="form-control" />
	</div>
	<div class="form-group" style="margin-top:10px">
		<label asp-for="Title"></label>
		<input asp-for="Title" type="text" class="form-control" />
	</div>
	<div class="form-group" style="margin-top:10px">
		<label asp-for="Description"></label>
		<input asp-for="Description" type="text" class="form-control" />
	</div>
	<div class="form-group" style="margin-top:10px">
		<button class="btn btn-success">Add</button>
	</div>
</form>

