@using EntityLayer.Entities
@model List<Testimonial>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1 style="margin-top:10px">Müştərilər</h1>
<table class="table table-bordered">
	<tr>
		<th>Ad soyad</th>
		<th>Başlıq</th>
		<th>Açıqlama</th>
		<th>Əməliyyatlar</th>
	</tr>
	@foreach (var item in Model)
	{

		<tr>
			<td>@item.Name</td>
			<td>@item.Title</td>
			<td>@item.Description</td>
			<td>
				<a href="/Admin/Testimonial/RemoveTestimonial/@item.Id" class="btn btn-danger">Sil</a>
				<a href="/Admin/Testimonial/GetTestimonial/@item.Id" class="btn btn-success">Güncəllə</a>
			</td>
		</tr>
	}
</table>
<a href="/Admin/Testimonial/AddTestimonial/" class="btn btn-primary">Yeni müştəri əlavə et</a>

