@model EntityLayer.Entities.GetInTouch
@{
	ViewData["Title"] = "GetGetInTouch";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="margin-top:10px">GetGetInTouch</h1>
<form asp-action="UpdateGetInTouch" method="post">
	<input asp-for="Id" type="hidden" />
	<div>
		<label asp-for="Email"></label>
		<input asp-for="Email" type="text" class="form-control" />
	</div>
	<div>
		<label asp-for="Phone"></label>
		<input asp-for="Phone" type="text" class="form-control" />
	</div>
	<div>
		<label asp-for="Address"></label>
		<input asp-for="Address" type="text" class="form-control" />
	</div>
	<div class="form-group" style="margin-top:10px">
		<button class="btn btn-primary">Update</button>
	</div>
</form>
