@using EntityLayer.Entities
@model List<GetInTouch>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="margin-top:10px">Əlaqə</h1>
<table class="table table-bordered">
	<tr>
		<th>Mail</th>
		<th>Nömrə</th>
		<th>Adres</th>
		<th>Əməliyyatlar</th>
	</tr>
	@foreach (var item in Model)
	{

		<tr>
			<td>@item.Email</td>
			<td>@item.Phone</td>
			<td>@item.Address</td>
			<td>
				<a href="/Admin/GetInTouch/DeleteGetInTouch/@item.Id" class="btn btn-danger">Sil</a>
				<a href="/Admin/GetInTouch/GetGetInTouch/@item.Id" class="btn btn-success">Güncəllə</a>
			</td>
		</tr>
	}
</table>
