@using EntityLayer.Entities
@model List<BannerPicture>
@{
	Layout = null;
}
<div class="banner-area pb-70">
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-lg-6 col-md-6 col-12">
					<div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
						<a href="product-details.html"><img src="@item.PictureUrl" alt=""></a>
					</div>
				</div>
			}
		</div>
	</div>
</div>