@model EntityLayer.Entities.Contact
@{
    ViewData["Title"] = "AddContact";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1 style="margin-top:10px">Yeni əlaqə növü</h1>
<form method="post">
	<div class="form-group" style="margin-top:10px">
		<label>Başlıq</label>
		<input asp-for="Title" type="text" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="form-group" style="margin-top:10px">
		<label>Sosial Media 1</label>
		<input asp-for="FirstSocialMedia" type="text" class="form-control" />
		<span asp-validation-for="FirstSocialMedia" class="text-danger"></span>
	</div>
	<div class="form-group" style="margin-top:10px">
		<label>Link 1</label>
		<input asp-for="FirstUrlOrNumber" type="text" class="form-control" />
		<span asp-validation-for="FirstUrlOrNumber" class="text-danger"></span>
	</div>
	<div class="form-group" style="margin-top:10px">
		<label>Sosial Media 2</label>
		<input asp-for="SecondSocialMedia" type="text" class="form-control" />
	</div>
	<div class="form-group" style="margin-top:10px">
		<label>Link 2</label>
		<input asp-for="SecondUrlOrNumber" type="text" class="form-control" />
	</div>
	<div class="form-group" style="margin-top:10px">
		<button class="btn btn-success">Əlavə et</button>
	</div>
</form>

