@using EntityLayer.Entities
@model List<BannerPicture>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="margin-top:10px">Reklam şəkilləri</h1>
<table class="table table-bordered">
    <tr>
        <th>Şəkil</th>
        <th>Əməliyyatlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
           <td>
               <img src="@item.PictureUrl" style="height:100px; width:100px"/>
           </td>
            <td>
                <a href="/Admin/Banner/GetBanner/@item.Id" class="btn btn-success">Güncəllə</a>
            </td>
        </tr>
    }
</table>
<

