
@{
    Layout = null;
}
<div class="category-area bg-gray-4 pt-95 pb-100">
	<div class="container">
		<div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
			<h2>Products Category</h2>
		</div>
		<div class="category-slider-active-2 swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="200">
						<div class="category-img-2">
							<a href="/Shop/Index/4">
								<img class="category-normal-img" src="https://i.hizliresim.com/cio4m9e.png" alt="" style="height:80px; width:80px">
								<img class="category-hover-img" src="https://i.hizliresim.com/cio4m9e.png" alt="icon" style="height:80px; width:80px">
							</a>
						</div>
						<div class="category-content-2 category-content-2-black">
							<h4><a href="shop.html">Çadırlar</a></h4>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="400">
						<div class="category-img-2">
							<a href="shop.html">
								<img class="category-normal-img" src="https://i.hizliresim.com/lr9ejl0.png" alt="" style="height:80px; width:80px">
								<img class="category-hover-img" src="https://i.hizliresim.com/lr9ejl0.png" alt="icon" style="height:80px; width:80px">
							</a>
						</div>
						<div class="category-content-2 category-content-2-black">
							<h4><a href="shop.html">Oturacaqlar</a></h4>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="600">
						<div class="category-img-2">
							<a href="shop.html">
								<img class="category-normal-img" src="https://i.hizliresim.com/ovkzs6y.png" alt="" style="height:80px; width:80px">
								<img class="category-hover-img" src="https://i.hizliresim.com/ovkzs6y.png" alt="icon" style="height:80px; width:80px">
							</a>
						</div>
						<div class="category-content-2 category-content-2-black">
							<h4><a href="shop.html">Masalar</a></h4>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="800">
						<div class="category-img-2">
							<a href="shop.html">
								<img class="category-normal-img" src="https://i.hizliresim.com/s84yhkx.png" alt="" style="height:80px; width:80px">
								<img class="category-hover-img" src="https://i.hizliresim.com/s84yhkx.png" alt="icon" style="height:80px; width:80px">
							</a>
						</div>
						<div class="category-content-2 category-content-2-black">
							<h4><a href="shop.html">Kamp çantaları</a></h4>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="1000">
						<div class="category-img-2">
							<a href="shop.html">
								<img class="category-normal-img" src="https://i.hizliresim.com/kplf2b3.png" alt="" style="height:80px; width:80px">
								<img class="category-hover-img" src="https://i.hizliresim.com/kplf2b3.png" alt="icon" style="height:80px; width:80px">
							</a>
						</div>
						<div class="category-content-2 category-content-2-black">
							<h4><a href="shop.html">Dəniz xalçaları</a></h4>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="single-category-wrap-2 text-center">
						<div class="category-img-2">
							<a href="#">
								<img class="category-normal-img" src="assets/images/category/category-11-black.png" alt="">
								<img class="category-hover-img" src="assets/images/category/category-hover-11.png" alt="icon">
							</a>
						</div>
						<div class="category-content-2 category-content-2-black">
							<h4><a href="#">Computer Table</a></h4>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="single-category-wrap-2 text-center">
						<div class="category-img-2">
							<a href="#">
								<img class="category-normal-img" src="assets/images/category/category-7-black.png" alt="">
								<img class="category-hover-img" src="assets/images/category/category-hover-7.png" alt="icon">
							</a>
						</div>
						<div class="category-content-2 category-content-2-black">
							<h4><a href="#">Office Cabin</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

