@model EntityLayer.Entities.Category
@{
    ViewData["Title"] = "NewCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="margin-top:10px">Yeni kateqoriya</h1>
<form method="post">
	
	<div class="form-group">
		<label class="col-md-2 control-label">Ad</label>
		<div class="col-md-10">
			<input asp-for="Name" class="form-control" />
		</div>
	</div>
	<div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Status" type="hidden" value="True"/>
    <div class="form-group" style="margin-top:10px">
        <button class="btn btn-success">Əlavə et</button>
    </div>
</form>

